html,
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: #634e1c;
	font-size: 26px;
	margin: 0;
}

h2 {
	color: #634e1c;
	font-size: 14px;
	margin: 0;
}

.main {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100vh;
	width: 100vw;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}

#menu {
	box-sizing: border-box;
	width: 100vw;
	height: 100%;
	position: fixed;
	left: 0;
	/*top: 150px;*/
	background: #e3dece;
	transition: transform .3s cubic-bezier(0, .52, 0, 1);
	display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    flex-direction:column;
}

#menu.hide {
	transform: translate3d(0, -100vh, 0);
}

#menu.show {
	transform: translate3d(0, 100px, 0);
	overflow: hidden;
}

.sidebar-header {
	width: 100vw;
	height: 100px;
	background: #cfc4a5;
	padding: 20px;
	box-sizing: border-box;
	z-index: 200;
}

#burger-button {
	float: right;
	position: relative;
	top: -40px;
	cursor: pointer;
}

.burger {
	width: 30px;
    height: 4px;
    background-color: #69531e;
    margin: 4px 0;
		border-radius: 2px;
}

.sidebar-search {
	padding: 18px;
}

#menu .sidebar-flex-scroll {
	overflow-y:scroll;
      min-height:0;
      -webkit-box-flex:1;
      flex:1;
}

.locations-list {
	line-height: 18px;
	text-align: left;
	list-style-type: none;
	font-size: 14px;
	padding: 10px 20px 20px 30px;
	overflow-y: scroll;
	min-height: 0;
}

.locations-list li {
	padding: 7px 0;
}

.locations-list li a {
	cursor: pointer;
	color: #6f603e;
	text-decoration: none;
}

.locations-list li a:hover {
	cursor: pointer;
	color: #44391e;
	text-decoration: underline;
}

input {
	font-size: 13px;
	margin: 0 auto;
	padding: 20px;
	border: none;
	width: 80vw;
	border-radius: 12px;
}

.map {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	position: relative;
	/*padding-top: 100px;*/
}

.map-container {
	width: 100%;
	height: 100%;
}

.map-element {
	width: 100%;
	height: 100%;
	position: relative;
}

.marker:focus {
	outline: -webkit-focus-ring-color auto 5px;
}

/*
 * MEDIA QUERIES
 */

@media only screen and (min-width: 1100px)
 {

	 .main {
	 	flex-direction: row;
	 }

	 .header {
	   background-color: #222;
	   height: 60px;
	   padding-top: 25px;
	   color: white;
	 }

	 .sidebar {
		 width: 25vw;
		 height: 100%;
	 }

	 #burger-button {
		 display: none;
	 }

	 .sidebar-header {
	 	width: 25vw;
	 	height: 150px;
	 	padding: 50px 30px 50px 30px;
	 }

	 input {
		 width: 19vw;
	 }

	 #menu {
			width: 25vw;
			position: relative;
			transition: none;
			display:-webkit-box;
			display:flex;
			-webkit-box-orient:vertical;
			flex-direction:column;
	 }

		#menu.hide {
			transform: translate3d(0vw, 0, 0);
		}

		#menu.show {
			transform: translate3d(0vw, 0, 0);
			overflow: hidden;
		}

		.locations-list {
		 overflow-y:scroll;
		  min-height:0;
		  -webkit-box-flex:1;
		  flex:1;
		}

		.map {
			width: 75vw;
		padding: 0;
		}
}
