html,
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: #69531e;
	font-size: 26px;
	margin: 0;
}

h2 {
	color: #69531e;
	font-size: 14px;
	margin: 0;
}

.main {
	display: flex;
	position: relative;
	height: 100vh;
	width: 100vw;
}

.sidebar {

}

#menu {
	width: 25vw;
	height: 100%;
	position: fixed;
	left: 0;
	top: 150px;
	background: #cfc4a8;
	transition: transform .3s cubic-bezier(0, .52, 0, 1);
	display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    flex-direction:column;
    height:100%;
}

#menu.hide {
	transform: translate3d(-25vw, 0, 0);
}

#menu.show {
	transform: translate3d(0vw, 0, 0);
	overflow: hidden;
}

.sidebar-header {
	width: 25vw;
	height: 150px;
	background: #aa9a72;
	padding: 50px 30px 50px 30px;
	box-sizing: border-box;
}

.sidebar-search {
	padding: 18px;
}

#menu .sidebar-flex-scroll {
	overflow-y:scroll;
      min-height:0;
      -webkit-box-flex:1;
      flex:1;
}

.locations-list {
	line-height: 18px;
	text-align: left;
	list-style-type: none;
	font-size: 14px;
	padding: 10px 20px 20px 30px;
	overflow-y: scroll;
	min-height: 0;
}

.locations-list li {
	padding: 7px 0;
}

.locations-list li a {
	cursor: pointer;
	color: #796941;
	text-decoration: none;
}

.locations-list li a:hover {
	cursor: pointer;
	color: #44391e;
}

input {
	font-size: 13px;
	margin: 0 auto;
	padding: 20px;
	border: none;
	width: 19vw;
	border-radius: 12px;

}

.map {
	width: 75vw;
	height: 100vh;
	position: absolute;
	right: 0;
	bottom: 0;
}

.map-container {
	width: 100%;
	height: 100%;
}

.map-element {
	width: 100%;
	height: 100%;
	position: relative;
}

/*
 * MEDIS QUERIES
 */

 @media only screen and (min-width: 1100px)
 {
	 .header {
	   background-color: #222;
	   height: 60px;
	   padding-top: 25px;
	   color: white;
	 }

	 .sidebar {
			display: flex;
			flex-direction: column;
	 }

	 .locations-list {
		 overflow-y:scroll;
	    min-height:0;
	    -webkit-box-flex:1;
	    flex:1;
	 }





	}
